<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Education Credential System</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <style>

        @media (min-width: 768px) {
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../../css/headers.css" rel="stylesheet">
</head>
<body>
<main>
    <h1 class="visually-hidden">Headers examples</h1>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">{{sub_title}}</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
<!--                <li class="nav-item"><a href="#" class="nav-link">Features</a></li>-->
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a  class="btn btn-outline-primary me-2" href="/login">Login</a>
                <a  class="btn btn-primary">Sign-up</a>
            </div>
        </header>
    </div>
</main>
<script src="../../js/bootstrap.bundle.min.js"></script>
</body>
</html>
